extends baseEmail

block content
  p Hi #{firstName},
  p New Negotiation has been initiated for one of your Product.Waiting For Initial bid from the buyer.We will send you a mail once we receive the initial bid.

  
  p - E-Farm