footer
  .footer-main
    .container
      
      hr
      .row
        .col-lg-4.col-md-12.col-sm-12
          .footer-widget
            h4 About E-FARM
            p
              | E-FARM is an online web application, which provides registration and login for both sellers and buyers. Here, the farmers can sell their products directly to the consumers or to the retail shopkeepers.
        .col-lg-4.col-md-12.col-sm-12
          .footer-link
            h4 Information
            ul
              li
                a(href='/aboutUs') About Us
              li
                a(href='#') Terms &amp; Conditions
              li
                a(href='#') Privacy Policy
        .col-lg-4.col-md-12.col-sm-12
          .footer-link-contact
            h4 Contact Us
            ul
              
              li
                p
                  i.fas.fa-phone-square
                  | Phone: 
                  a(href='tel:+1-888705770') +1-888 705 770
              li
                p
                  i.fas.fa-envelope
                  | Email: 
                  a(href='mailto:efarmyah@gmail.com') efarmyah@gmail.com
 
  .footer-copyright
    p.footer-company
      | All Rights Reserved. &copy; 2022 
      a(href='/') E-FARM
  a#back-to-top(href='#' title='Back to top' style='display: none;') &uarr;
  
