extends base

block content 
    .about-box-main
        .container
            .row
                .col-lg-6
                    .banner-frame
                        img.img-fluid(src='images/about-img.jpg' alt='' onError="this.src = './../img/default.jpg'")
                .col-lg-6
                    h2.noo-sh-title-top
                        | We are 
                        span E- Farmers
                    p
                        | E-FARM is an online web application, which provides registration and login for both sellers and buyers. Here, the farmers can sell their products directly to the consumers or to the retail shopkeepers.
                    p
                    |  The farmers sell their product with the price they desire and the customers would buy them for the base price or can negotiate with the farmers(seller) and when both party come to a conclusion the buyer can place the order.
                    
           
        // End About Page
        // Start Instagram Feed
        .instagram-box
            .main-instagram.owl-carousel.owl-theme
                .item
                    .ins-inner-box
                        img(src='images/instagram-img-01.jpg' alt='')
                       
                        
                .item
                    .ins-inner-box
                        img(src='images/instagram-img-02.jpg' alt='')
                       
                .item
                    .ins-inner-box
                        img(src='images/instagram-img-03.jpg' alt='')
                        
                .item
                    .ins-inner-box
                        img(src='images/instagram-img-04.jpg' alt='')
                        
                .item
                    .ins-inner-box
                        img(src='images/instagram-img-05.jpg' alt='')
                       
                .item
                    .ins-inner-box
                        img(src='images/instagram-img-06.jpg' alt='')
                        
                .item
                    .ins-inner-box
                        img(src='images/instagram-img-07.jpg' alt='')
                        
                .item
                    .ins-inner-box
                        img(src='images/instagram-img-08.jpg' alt='')
                        
                .item
                    .ins-inner-box
                        img(src='images/instagram-img-09.jpg' alt='')
                       
                .item
                    .ins-inner-box
                        img(src='images/instagram-img-05.jpg' alt='')
                        
