doctype html
html
  head
    block head
      script(src="/socket.io/socket.io.js")
      meta(charset='utf-8')
      meta(http-equiv='X-UA-Compatible' content='IE=edge')
      // Mobile Metas
      meta(name='viewport' content='width=device-width, initial-scale=1')
      // Site Metas
      title= title 
      meta(name='keywords' content='')
      meta(name='description' content='')
      meta(name='author' content='')
      // Site Icons
      //- link(rel='shortcut icon' href='./../images/favicon.ico' type='image/x-icon')
      link(rel='apple-touch-icon' href='./../images/apple-touch-icon.png')
      // Bootstrap CSS
      link(rel='stylesheet' href='./../css/bootstrap.min.css')
      link(rel='icon' type='image/x-icon' href='/img/logo.png ')

      // Site CSS
      link(rel='stylesheet' href='./../css/style.css')
      // Responsive CSS
      link(rel='stylesheet' href='./../css/responsive.css')
      // Custom CSS
      link(rel='stylesheet' href='./../css/custom.css')
      script(src="https://use.fontawesome.com/df9eabd924.js")
      script(src='https://js.stripe.com/v3/')
      //if lt IE 9
        script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
        script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
      

  body(data-alert=`${alert ? alert : ''}`)
    // HEADER
    include _header

    // CONTENT
    block content
      h1 This is a placeholder heading

    // FOOTER
    include _footer

    script(src='./../js/jquery-3.2.1.min.js')
    script(src='./../js/popper.min.js')
    script(src='./../js/bootstrap.min.js')
    script(src='./../js/jquery.superslides.min.js')
    script(src='./../js/bootstrap-select.js')
    script(src='./../js/inewsticker.js')
    script(src='./../js/bootsnav.js')
    script(src='./../js/images-loded.min.js')
    script(src='./../js/isotope.min.js')
    script(src='./../js/owl.carousel.min.js')
    script(src='./../js/baguetteBox.min.js')
    script(src='./../js/form-validator.min.js')
    script(src='./../js/contact-form-script.js')
    script(src='./../js/custom.js')
    script(src='./../js/script.js')
    script(src='./../js/basic/bundle.js')